body{
    display: flex;
    background-color: rgb(29, 28, 28);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.r1{
    height: 500px;
    width: 90%;
    background-color: aliceblue;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid red;
    box-shadow: 5px 5px 5px 10px  blue;
    display: flex;
    justify-content: center;
    overflow: scroll;
    flex-wrap: wrap;
}